body {
    margin: 0;
    font-family: Arial, sans-serif;
  }

  .header h1 {
    text-transform: uppercase;
    font-size: 23px;
  }

  .header {
    font-size: 10 px;
    position: relative;
    background-color: #a9aaff;
    color: white;
    padding: 1em;
    text-align: center;
  }

  .titulo-zonas {
    text-align: center;
    padding: 10px;
    font-size: 20px;
    background-color: #f2f2f2;
    color: #333;
    margin: 10px auto;
    width: 80%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }
  
  .zonas-container {
    font-size: 18px;
    width: 80%;
    margin: 10px auto;
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); 
    gap: 10px; 
    padding: 10px; 
  }
  
  .zona {
    cursor: pointer;
    background: #a9aaff; 
    color: white; 
    padding: 20px; 
    text-align: center; 
    border-radius: 5px; 
    box-shadow: 0 4px #999;
    transition: all 0.3s;
  }

  .zona:hover {
    box-shadow: 0 2px #666;
    transform: translateY(2px);
  }
  
  .zona img {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
  }
  
  .zona p {
    margin-top: 0.5em;
  }

  .add-button { 
    cursor: pointer;
    position: fixed; 
    bottom: 20px; 
    right: 20px; 
    background: #395d8d; 
    color: white; 
    border: none; 
    border-radius: 50%; 
    width: 50px; 
    height: 50px; 
    box-shadow: 0 4px #999;
    transition: all 0.3s;
  }

  .add-button:hover {
    box-shadow: 0 2px #666;
    transform: translateY(2px);
  }

.back-button {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 24px;
    color: white;
    width: 42px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    border-radius: 50%;
    background-color: #395d8d;
    box-shadow: 0 4px #999;
    transition: all 0.3s;
}

  .back-button:hover {
    box-shadow: 0 2px #666;
    transform: translateY(-45%);
  }

  .profile-button {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 13px;
    color: white;
    background-color: #395d8d;
    padding: 8px 15px;
    border-radius: 4px;
    text-align: center;
    box-shadow: 0 4px #999;
    transition: all 0.3s;
  }

  .profile-button:hover {
    box-shadow: 0 2px #666;
    transform: translateY(-45%);
  }

  .editar-casa {
    position: fixed;
    left: 10px;
    bottom: 10px;
    background-color: #395d8d;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px #999;
    transition: all 0.3s;
  }

.editar-casa:hover {
  box-shadow: 0 2px #666;
  transform: translateY(2px);
}
  